<!DOCTYPE html>
<html>
<body>

<h1>JavaScript Strings</h1>
<h2>The indexOf() Method</h2>

<p>The position of the first occurrence of "locate" is:</p>
<p id="demo"></p>

<script>
let text = "Please locate where 'locate' occurs!";
// document.getElementById("demo").innerHTML = text.indexOf("locate");
// document.getElementById("demo").innerHTML = text.lastIndexOf("locate");
// document.getElementById("demo").innerHTML = text.indexOf("John");
document.getElementById("demo").innerHTML = text.indexOf("locate",3);
// document.getElementById("demo").innerHTML = text.lastIndexOf("locate", 20);

</script>

</body>
</html>