<!DOCTYPE html>
<html>
<body>

<h2>JavaScript While Loop</h2>

<p id="demo"></p>

<script>
    // let text="";
    // let i=0;
    // while(i<10){
    //     text+=i+"<br>" ;
    //     i++;
    // }
    // document.getElementById("demo").innerHTML=text


        let text="";
        let i=0;
        do{
            text+="<br> the number is: "+i;
            i++;
        }
        while(i<11)
        document.getElementById("demo").innerHTML=text



        // const cars = ["BMW", "Volvo", "Saab", "Ford"];

        // let i = 0;
        // let text = "";
        // for (;cars[i];) {
        // text += cars[i] + "<br>";
        // i++;
        // }
        // document.getElementById("demo").innerHTML = text;




        // const cars = ["BMW", "Volvo", "Saab", "Ford"];

        // let i = 0;
        // let text = "";
        // while (cars[i]) {
        // text += cars[i] + "<br>";
        // i++;
        // }

        // document.getElementById("demo").innerHTML = text;
</script>

</body>
</html>
